<div class="ui text container">
  <div class="ui form">
    <%= form_for(@tag) do |f| %>
      <% if @tag.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@tag.errors.count, "error") %> prohibited this tag from being saved:</h2>
          <ul>
            <% @tag.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
          </ul>
        </div>
      <% end %>

      
                              <div class="field">
              <%= f.label :name %><br>
              <%= f.text_field :name %>
            </div>
          
              
                              <div class="field">
              <%= f.label :normalized_name %><br>
              <%= f.text_field :normalized_name %>
            </div>
          
              
                           
            <div class="field">
              <%= f.label :tagged_id %><br>
              
              <% if @tag.tagged %>
                <%= f.collection_select(:tagged, Tag.all.sort { |a,b| a.name <=> b.name }, :id, :name, options = {:prompt => "Please Select an Item", :selected => @tag.tagged.map(&:id)}, html_options = {:multiple => true, :class=>"search"}) %>
              <% end %>
            </div>
          
              
      <div class="actions">
        <%= f.submit %>
      </div>
    <% end %>
  </div>
</div>

<script>
$('.search')
  .dropdown()
;
</script>
